@model AdminDashBoard

<h3>Daftar Pesawat</h3>
<hr />
<table class="table table-dark">
    <thead>
        <tr>
            <th>IMAGE</th>
            <th>MASKAPAI</th>
            <th>BANDARA ASAL</th>
            <th>BANDARA TUJUAN</th>
            <th>WAKTU KEBERANGKATAN</th>
            <th>HARGA</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.pesawat)
        {
            <tr>
                <td><img src="@item.image" alt="fotonya" width="100px" /></td>
                <td>@item.Maskapai</td>
                <td>@item.Bandara_asal</td>
                <td>@item.Bandara_tujuan</td>
                <td>@item.berangkat</td>
                <td>@item.harga</td>
                <td> <button style="background-color:green;"> <a asp-controller="Home" asp-action="UbahPesawat" asp-route-id="@item.kode_pesawat">Edit</a></button></td>
                <td>
                    <button style="background-color: aqua">
                        <a class="bi bi-trash" title="Detail" style="color:black;"
                           onclick="if (!confirm('DETAIL\n\n DATA:\n KODE PESAWAT : @item.kode_pesawat \n MASKAPAI : @item.Maskapai \n BANDARA ASAL : @item.Bandara_asal\n BANDARA TUJUAN : @item.Bandara_tujuan\n WAKTU TRANSIT : @item.berangkat\n HARGA : @item.harga')) { return false; }">
                            Detail
                        </a>
                    </button>
                </td>
                <td>
                    <button style="background-color: red;">
                        <a asp-action="HapusPesawat" asp-route-id="@item.kode_pesawat"
                           class="bi bi-trash" title="keluar" style="color:black;"
                           onclick="if (!confirm('Yakin ingin menghapus blog dengan data sebagi berikut\n\n DATA:\n KODE PESAWAT : @item.kode_pesawat \n MASKAPAI : @item.Maskapai \n BANDARA ASAL : @item.Bandara_asal\n BANDARA TUJUAN : @item.Bandara_tujuan\n WAKTU TRANSIT : @item.berangkat\n HARGA : @item.harga')) { return false;}">
                            Hapus
                        </a>
                    </button>
                </td>


            </tr>
        }
    </tbody>
</table>